*{
    background-color: rgb(27, 38, 59);
}
ul{
    list-style-type: none;
}
.socials-list{
    display: flex;
    gap: 10px;
    width: 200px;
    height: auto;
}
.linkedin, .github{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-icon, .github-icon{
    height: 40px;
    width: 40px;
}
.menu{
    display: flex;
    gap: 20px;
    width: 550px;
    justify-content: flex-end;
}
.menu-text{
    color: rgb(224, 225, 221);
}
.about, .skills, .projects, .experience, .education, .resume{
   padding: 0px 10px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.about:hover, .skills:hover, .projects:hover, .experience:hover, .education:hover, .resume:hover{
    cursor: pointer;
}
.iam, .intro{
    color: rgb(224, 225, 221); 
    margin: 0px;
}
.about-body{
    display: flex;
}
.aarchi-pic{
    
    width: 200px;
    border-radius: t550px;
}
.left-side{
    width: 70%;
    padding: 50px;
}
.right-side{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#font{
    font-family: "Exo 2", serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;     
}
.aarchi-text{
    color: rgb(255, 193, 7);
    margin: 0px;
}
#name-font{
  font-family: "Roboto Condensed", serif;
  font-size: 50px;
  font-weight: 800;
  font-style: normal;
}