@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --purple: #A64AC9;
    --black-light: #151312;
    --black-dark: #09090b;
}
@keyframes dividerMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-divider {
  animation: dividerMove 6s linear infinite;
  opacity: 0.6;
}

