@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --purple: #A64AC9;
    --black-light: #151312;
    --black-dark: #09090b;
}
@keyframes dividerMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-divider {
  animation: dividerMove 6s linear infinite;
  opacity: 0.6;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

@keyframes floatSlow {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-6px); }
  to { opacity: 1; transform: translateY(0); }
}

